<section class="services section this--dots">
    <div class="dots"></div>
    <div class="container">
        <div class="services__content">
            <div class="services__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <div class="breadcrumb">Услуги</div>
                </div>
            </div>
        </div>
        <h1 class="services__title">Услуги</h1>
        <div class="main_services__items">
            <div class="main_services__item">
                <div class="main_services__item_img" style="background: url('./img/main/main_services/1.svg') center/contain no-repeat"></div>
                <div class="main_services__item_info">
                    <h3 class="main_services__item_title">Жилищные</h3>
                    <div class="main_services__item_text">Организационные работы и планирование, ведение технической документации, организация предоставления платных дополнительных услуг.</div>
                </div>
                <div class="main_services__item_links">
                    <a href="#" class="main_services__item_link btn this--transparent this--svg this--arrow">Подробнее об услуге<svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></a>
                </div>
            </div>
            <div class="main_services__item">
                <div class="main_services__item_img" style="background: url('./img/main/main_services/2.svg') center/contain no-repeat"></div>
                <div class="main_services__item_info">
                    <h3 class="main_services__item_title">Коммунальные</h3>
                    <div class="main_services__item_text">Организационные работы и планирование, ведение технической документации, организация предоставления платных дополнительных услуг.</div>
                </div>
                <div class="main_services__item_links">
                    <a href="#" class="main_services__item_link btn this--transparent this--svg this--arrow">Подробнее об услуге<svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></a>
                </div>
            </div>
            <div class="main_services__item">
                <div class="main_services__item_img" style="background: url('./img/main/main_services/3.svg') center/contain no-repeat"></div>
                <div class="main_services__item_info">
                    <h3 class="main_services__item_title">Платные</h3>
                    <div class="main_services__item_text">Организационные работы и планирование, ведение технической документации, организация предоставления платных дополнительных услуг.</div>
                </div>
                <div class="main_services__item_links">
                    <a href="#" class="main_services__item_link btn this--transparent this--svg this--arrow">Подробнее об услуге<svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></a>
                    <a href="#" class="main_services__item_link btn this--dark this--svg">
                        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="15" height="17" stroke="white"/>
                            <path d="M4 4H11.5M4 7H11.5" stroke="white"/>
                            <path d="M4 10H11.5M4 13H11.5" stroke="white"/>
                        </svg>
                        скачать прайс-лист</a>
                </div>
            </div>
        </div>
    </div>
</section>