<section class="object_card section this--dots">
    <div class="dots this--wh"></div>
    <div class="container">
        <div class="object_card__content">
            <div class="object_card__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <a href="#" class="breadcrumb this--link">Объекты</a>
                    <div class="breadcrumb">ЖК «Золотые купола»</div>
                </div>
            </div>
        </div>
        <h1 class="object_card__title js-anim-block hide this--from_top">ЖК «Золотые купола»</h1>
        <div class="object_card__subtitle js-anim-block hide this--from_top">Ленинградская область, Всеволожский муниципальный р-н, Сертоловское городское поселение, г. Сертолово, микрорайон Черная речка</div>
    </div>
</section>