<section class="main_top section this--dots this--object_card">
    <div class="dots this--wh"></div>
    <div class="container">
        <div class="breadcrumbs this--wh">
            <div class="breadcrumbs_wr">
                <a href="/" class="breadcrumb this--link">Главная</a>
                <a href="#" class="breadcrumb this--link">Объекты</a>
                <div class="breadcrumb">ЖК «Золотые купола»</div>
            </div>
        </div>
        <h1 class="js-anim-block hide this--from_top">ЖК «Золотые купола»</h1>
        <div class="main_top__subtitle js-anim-block hide this--from_top">Ленинградская область, Всеволожский муниципальный р-н, Сертоловское городское поселение, г. Сертолово, микрорайон Черная речка</div>
    </div>
</section>