<div class="object_card_contacts">
    <div class="container">
        <div class="object_card_contacts__content">
            <div class="object__info_item">
                <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
            </div>
            <div class="object__info_item">
                <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
            </div>
            <div class="object__info_item">
                <div class="object__info_item_title">Приём управляющего</div>
                <div class="object__info_item_value">
                    вт <span>10:00 - 12:00</span>
                </div>
                <div class="object__info_item_value">
                    чт <span>15:00 - 19:00</span>
                </div>
            </div>
        </div>
    </div>
</div>
