<section class="main_news section js-anim-block hide">
    <div class="container">
        <div class="main_news__content">
            <div class="main_news__top">
                <h2 class="main_news__title this--wave">Новости</h2>
                <a href="#" class="main_news__link btn this--transparent this--svg this--arrow">все новости
                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></a>
            </div>
            <div class="main_news__row">
                <div class="main_news__left">
                    <a href="#" class="main_news__item this--sticky">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                        <div class="main_news__item_date">14.05.2022</div>
                        <h3>Собрание собственников помещений в ЖК “Кремлевские звезды” дополнительная строка</h3>
                        <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Кремлевские звезды" (Типанова, 25/1) в виде очно-заочного голосования в период с 12.04.2022 по 26.05.2022.</p>
                    </a>
                </div>
                <div class="main_news__right">
                    <a href="#" class="main_news__item js-anim-block hide">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                        <div class="main_news__item_date">14.05.2022</div>
                        <h3>Собрание собственников помещений в ЖК “Кремлевские звезды” дополнительная строка</h3>
                        <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Кремлевские звезды" (Типанова, 25/1) в виде очно-заочного голосования в период с 12.04.2022 по 26.05.2022.</p>
                    </a>
                    <a href="#" class="main_news__item js-anim-block hide">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                        <div class="main_news__item_date">14.05.2022</div>
                        <h3>Собрание собственников помещений в ЖК “Кремлевские звезды” дополнительная строка</h3>
                        <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Кремлевские звезды" (Типанова, 25/1) в виде очно-заочного голосования в период с 12.04.2022 по 26.05.2022.</p>
                    </a>
                    <a href="#" class="main_news__item js-anim-block hide">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                        <div class="main_news__item_date">14.05.2022</div>
                        <h3>Собрание собственников помещений в ЖК “Кремлевские звезды” дополнительная строка</h3>
                        <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Кремлевские звезды" (Типанова, 25/1) в виде очно-заочного голосования в период с 12.04.2022 по 26.05.2022.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>