<section class="main_top section this--dots this--services_card">
    <div class="dots this--wh"></div>
    <div class="container">
        <div class="breadcrumbs this--wh">
            <div class="breadcrumbs_wr">
                <a href="/" class="breadcrumb this--link">Главная</a>
                <a href="#" class="breadcrumb this--link">Услуги</a>
                <div class="breadcrumb">Жилищные услуги</div>
            </div>
        </div>
        <h1 class="js-anim-block hide this--from_top">Жилищные услуги</h1>
        <div class="main_top__subtitle js-anim-block hide this--from_top">Техническое обслуживание инженерных
            систем, плановый и капитальный ремонт зданий.
        </div>
        <div class="main_top__link_wr js-anim-block hide">
            <a href="#" class="main_top__link btn this--dark this--lk this--bold">заказать услугу</a>
        </div>
    </div>
</section>