<section class="services_card_top section this--dots">
    <div class="dots this--wh"></div>
    <div class="container">
        <div class="services_card_top__content">
            <div class="services_card_top__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <a href="#" class="breadcrumb this--link">Услуги</a>
                    <div class="breadcrumb">Жилищные услуги</div>
                </div>
            </div>
        </div>
        <h1 class="services_card_top__title js-anim-block hide this--from_top">Жилищные услуги</h1>
        <div class="services_card_top__subtitle js-anim-block hide this--from_top">Техническое обслуживание инженерных
            систем, плановый и капитальный ремонт зданий.
        </div>
        <div class="services_card_top__link_wr js-anim-block hide">
            <a href="#" class="services_card_top__link btn this--dark this--lk this--bold">заказать услугу</a>
        </div>
    </div>
</section>