.services_card_top {
  position: relative;
  background: url('../img/services_card/services_card_bg.jpg') center / cover no-repeat;
  min-height: 490px;

  @media ($tablet3) {
    min-height: 540px;
  }
  .dots {

    @media ($desktopSuperBigMax) {
      top: 130px;
    }
  }
}
.services_card_top__breadcrumbs {
  .breadcrumb.this--link {
    color: #FFFFFF;
    opacity: 1;
    &::after {
      background: #FFFFFF;
    }
  }
  .breadcrumb {
    color: #BFDFE7;
    opacity: 0.3;
  }
}
.services_card_top__title {
  margin-top: 40px;
  color: #ffffff;
  @media ($tablet3) {
    margin-top: 87px;
  }
}
.services_card_top__subtitle {
  margin-top: 20px;
  color: #FFFFFF;
  max-width: 835px;
  @media ($tablet3) {
    margin-top: 30px;
  }
}
.services_card_top__link_wr {
  margin-top: 34px;
  @media ($tablet3) {
    margin-top: 20px;
  }
}
.services_card_top__link {
  width: 249px;
  height: 70px;
  @media ($mobileMiddle) {
    width: 100%;
  }
}