<section class="object_card_info section js-anim-block hide">
    <div class="container">
        <div class="object_card_info__content">
            <h2 class="object_card_info__title this--wave">Информация по домам</h2>
            <div class="object_card_info__tabs js_tabs">
                <div class="object_card_info__tabs_block js-anim-block hide">
                    <h3 class="object_card_info__tabs_title">ул. Верная</h3>
                    <div class="object_card_info__tabs_top">
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="1">дом 1 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="2">дом 1 к 2</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="3">дом 3 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="4">дом 3 к 2</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="5">дом 3 к 3</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="6">дом 3 к 4</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="7">дом 4 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="8">дом 4 к 2</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="9">дом 4 к 3</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="10">дом 5 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="11">дом 5 к 2</a>
                    </div>
                    <div class="object_card_info__tabs_bottom">
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="1">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 1 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="2">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 1 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="3">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 3 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="4">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 3 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="5">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 3 к 3</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="6">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 3 к 4</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="7">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 4 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="8">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 4 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="9">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 4 к 3</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="10">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 5 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="11">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Верная, дом 5 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="object_card_info__tabs_block js-anim-block hide">
                    <h3 class="object_card_info__tabs_title">ул. Любимая</h3>
                    <div class="object_card_info__tabs_top">
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="12">дом 3</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="13">дом 5</a>
                    </div>
                    <div class="object_card_info__tabs_bottom">
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="12">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Любимая, дом 3</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="13">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Любимая, дом 5</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="object_card_info__tabs_block js-anim-block hide">
                    <h3 class="object_card_info__tabs_title">ул. Златоглавая</h3>
                    <div class="object_card_info__tabs_top">
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="14">дом 3 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="15">дом 3 к 2</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="16">дом 5 к 1</a>
                        <a href="#" class="object_card_info__tabs_link tab__link js_tab_link" data-id="17">дом 5 к 2</a>
                    </div>
                    <div class="object_card_info__tabs_bottom">
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="14">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Златоглавая, дом 3 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="15">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Златоглавая, дом 3 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="16">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Златоглавая, дом 5 к 1</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="object_card_info__tabs_body tab__body js_tab_body" data-id="17">
                            <div class="tab__body_mob_close"></div>
                            <h3 class="tab__body_title">ул. Златоглавая, дом 5 к 2</h3>
                            <div class="tab__body_items">
                                <div class="tab__body_item">
                                    <span>Год постройки</span>
                                    <span>2017</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Этажность</span>
                                    <span>4</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Квартир</span>
                                    <span>102</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Общая площадь</span>
                                    <span>6570,80 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Жилая площадь</span>
                                    <span>4613,40 м2</span>
                                </div>
                                <div class="tab__body_item">
                                    <span>Кадастровый номер</span>
                                    <span>47:08:0103001:3561</span>
                                </div>
                            </div>
                            <div class="tab__body_documents documents">
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                                <a href="#" class="documents__document">
                                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                                    <div class="documents__bottom">
                                        <span>PDF</span>
                                        <span>12.2 Мб</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>