<section class="contacts section this--dots">
    <div class="dots"></div>
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <div class="breadcrumb">Контакты</div>
                </div>
            </div>
        </div>
        <h1 class="contacts__title">Контакты</h1>
        <div class="contacts__row">
            <div class="contacts__left">
                <div class="contacts__item">
                    <div class="contacts__item_left">Телефон</div>
                    <a href="tel:+78126023190" class="contacts__tel">+7 (812) 602-31-90</a>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item_left">Фактический адрес</div>
                    <div class="contacts__address">195197, г. Санкт-Петербург, пр. Маршала Блюхера, дом 9/3, помещение
                        12-Н
                    </div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item_left">Электронная почта</div>
                    <a href="mailto:office@uods.ru" class="contacts__mail">office@uods.ru</a>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item_left">График работы</div>
                    <div class="contacts__times">
                        <div class="contacts__time">
                            <div class="contacts__time_item">Пн-Ср<span>9:00 - 18:00</span></div>
                            <div class="contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                        </div>
                        <div class="contacts__time">
                            <div class="contacts__time_item">Чт<span>9:00 - 19:00</span></div>
                            <div class="contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                        </div>
                        <div class="contacts__time">
                            <div class="contacts__time_item">Пт<span>9:00 - 17:00</span></div>
                            <div class="contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts__management">
                <div class="contacts__management_item this--woman">
                    <span>Генеральный директор</span>
                    <span>Малинова Татьяна Ильинична</span>
                </div>
                <div class="contacts__management_item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
            </div>
        </div>
        <div class="contacts__map" id="map"></div>
    </div>
</section>

