.breadcrumbs {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 20px;

  &.this--wh {
    .breadcrumb.this--link {
      color: #FFFFFF;
      opacity: 1;
      &::after {
        background: #FFFFFF;
      }
    }
    .breadcrumb {
      color: #BFDFE7;
      opacity: 0.3;
    }
  }
}
.breadcrumbs_wr {
  display: flex;
  align-items: center;
  margin-left: -15px;
}
.breadcrumb {
  margin-left: 15px;
  color: #8D8D8D;
  white-space: nowrap;
  flex: 0 0 auto;

  &.this--link {
    color: #383838;
    padding-right: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 1.5px);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #383838;
    }
  }
}