<section class="main_links js-anim-block hide">
    <div class="main_links__content">
        <div class="main_links__left">
            <div class="main_links__left_wr">
                <div class="main_links__title">Оплачивайте услуги<br>не выходя из дома</div>
                <a href="#" class="main_links__link btn this--dark this--lk">Личный кабинет</a>
            </div>
        </div>
        <div class="main_links__right">
            <div class="main_links__title">Группа Дом Сервис<br>Вконтакте</div>
            <a href="https://vk.com/ukdomservis" class="main_links__link btn this--wh this--svg">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 8H1C1.5 21 14 25.8333 16.5 25C18 24.5 15.5 20.5 18 20C20 19.6 23.1667 23.1667 24.5 25H30C30.5 23.5 25 18.5 24 17C26.5 14 29 9.5 29.5 8H24.5C22.6667 10.5 18.7 15.5 17.5 15.5C16.3 15.5 16.6667 10.5 17 8H10.5C13 11 12.5 17.5 11 17C9.8 16.6 6.83333 10.8333 5.5 8Z" stroke="#FFFFFF" stroke-width="2" stroke-linejoin="round"/>
                </svg>
                vk.com/ukdomservis
            </a>
        </div>
    </div>
</section>