<section class="main_contacts section this--top this--dots">
    <div class="dots"></div>
    <div class="main_contacts__content js-anim-block hide">
        <div class="main_contacts__content_left">
            <h2 class="main_contacts__title this--wave">Контакты</h2>
            <a href="tel:+78126023190" class="main_contacts__tel">+7 (812) 602-31-90</a>
            <div class="main_contacts__address">195197, г. Санкт-Петербург,  пр. Маршала Блюхера, дом 9/3, помещение 12-Н</div>
            <a href="mailto:office@uods.ru" class="main_contacts__mail">office@uods.ru</a>
            <div class="main_contacts__times">
                <div class="main_contacts__time">
                    <div class="main_contacts__time_item">Пн-Ср<span>9:00 - 18:00</span></div>
                    <div class="main_contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                </div>
                <div class="main_contacts__time">
                    <div class="main_contacts__time_item">Чт<span>9:00 - 19:00</span></div>
                    <div class="main_contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                </div>
                <div class="main_contacts__time">
                    <div class="main_contacts__time_item">Пт<span>9:00 - 17:00</span></div>
                    <div class="main_contacts__time_item">Обед<span>13:00 - 14:00</span></div>
                </div>
            </div>
            <a href="#" class="main_contacts__link btn this--transparent this--svg this--arrow">все контакты
                <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                </svg>
            </a>
        </div>
        <div class="main_contacts__content_right js-anim-block hide">
            <div class="main_contacts__map" id="map"></div>
        </div>
    </div>
</section>