<section class="services_card_photo section js-anim-block hide">
    <div class="container">
        <div class="services_card_photo__content">
            <h2 class="services_card_photo__title">Проведенные работы</h2>
            <div class="services_card_photo__slider swiper-container js-anim-block hide">
                <div class="services_card_photo__slider_arrows default_slider__arrows">
                    <div class="services_card_photo__slider_arrow_prev default_slider__arrow_prev">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                    <div class="services_card_photo__slider_arrow_next default_slider__arrow_next">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                </div>
                <div class="services_card_photo__slider_pagination default_slider__pagination"></div>
                <div class="services_card_photo__slider_wrapper swiper-wrapper">
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="services_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="services_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="services_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="services_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="services_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>