.main_services {
  position: relative;
  transition: all 1.2s ease 0.5s;
  background: #F8FBFC;
  &.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
  }
}
.main_services__items {
  margin-top: 40px;
  margin-bottom: -20px;

  @media ($tablet) {
    margin-top: 20px;
  }
}
.main_services__item {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  margin-bottom: 20px;
  padding: 30px 30px 25px 20px;
  display: flex;
  min-height: 225px;

  @media ($tablet) {
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    min-height: 0;
  }
}
.main_services__item_img {
  width: 105px;
  height: 104px;
  flex: 0 0 auto;
  margin-right: 30px;

  @media ($tablet3) {
    margin-right: 7px;
    width: 40px;
    height: 40px;
  }
}
.main_services__item_info {
  p {
    margin-top: 10px;
    color: #8D8D8D;
    @media ($tablet) {
      display: none;
    }
  }
}

.main_services__item_links {
  width: 301px;
  margin-bottom: -10px;
  flex: 0 0 auto;
  margin-left: 30px;
  @media ($tablet) {
    width: 100%;
    margin-left: 0;
    flex: 0 1 auto;
    margin-top: 12px;
  }
}
.main_services__item_link {
  margin-bottom: 10px;

  &.this--dark {
    font-size: 1.6rem;

    @media ($tablet) {
      font-size: 1.4rem;
    }
  }
}