<section class="default_page section js-anim-block hide">
    <div class="container">
        <h2 class="g_mb_40">Техническое обслуживание зданий и сооружений включает в себя:</h2>
        <div class="small_container">
           <ol class="g_mb_40 js-anim-block hide">
               <li>Техническое обслуживание инженерных систем здания</li>
               <li>Текущий и плановый ремонт инженерных систем здания</li>
               <li>Мелкий ремонт архитектурных элементов здания</li>
               <li>Капитальный ремонт зданий</li>
           </ol>
           <div class="default_page__text this--bg g_mb_40 js-anim-block hide">
               <h4>Правильное и своевременное техническое обслуживание зданий – это необходимость.
               </h4>
           </div>
        </div>
        <h2 class="g_mb_40 js-anim-block hide">Наша компания предлагает следующие виды услуг по техническому обслуживанию зданий:
        </h2>
        <div class="small_container">
            <h3 class="g_mb_20 js-anim-block hide">Электроснабжение, силовое электрооборудование и электроосвещение</h3>
            <ul class="js-anim-block hide">
                <li>Обеспечение экономичного режима расхода электроэнергии и степени надежности электроснабжения;</li>
                <li>Обслуживание электрооборудования и электроосвещения;</li>
                <li>Замена неисправного оборудования;</li>
                <li>Замена перегоревших электроламп в светильниках;</li>
                <li>Регламентные профилактические работы в соответствии с инструкцией по эксплуатации;</li>
                <li>Замена кабельной проводки.</li>
            </ul>
            <h3 class="g_mb_20 js-anim-block hide">Системы вентиляции и кондиционирования воздуха</h3>
            <ul class="js-anim-block hide">
                <li>Контроль состояния воздушной среды и создание комфортных условий для работающих;</li>
                <li>Контроль работы вентиляционного оборудования и кондиционеров, их технологическое обслуживание, в том числе контроль состояние приводных ремней и их замена при необходимости;</li>
                <li>Контроль и регулирование работы холодильной установки, поддержание заданных параметров хладоносителя;</li>
                <li>Проверка на герметичность холодильной установки;</li>
                <li>Контроль и регулировка работы компрессорного оборудования, насосов и запорной арматуры;</li>
                <li>Проведение регламентных и профилактических работ в соответствии с инструкциями по эксплуатации оборудования (замена сальников, прокладок, смазки подшипников и др.);</li>
                <li>Проверка состояния теплоизоляции вентиляционных коробов и ее восстановление по мере необходимости (без стоимости материалов);</li>
                <li>Проверка и регулировка камер орошения; Контроль и регулировка работы заслонок; Замена фильтров (без стоимости материалов).</li>
            </ul>
            <h3 class="g_mb_20 js-anim-block hide">Системы автоматического управления и регулирования, слаботочные системы</h3>
            <ul class="js-anim-block hide">
                <li>Контроль работы датчиков, контролеров, исполнительных механизмов;</li>
                <li>Замена приборов, датчиков, блоков управления и др. по мере необходимости (без стоимости материалов) и по согласованию с поставщиком оборудования;</li>
                <li>Регламентные работы в соответствии с инструкциями по эксплуатации.</li>
            </ul>
            <h3 class="g_mb_20 js-anim-block hide">Санитарно-технические системы</h3>
            <ul class="js-anim-block hide">
                <li>Контроль и регулирование систем отопления;</li>
                <li>Контроль и регулирование систем горячего водоснабжения;</li>
                <li>Контроль работы, регулирование и техническое обслуживание теплообменников; Контроль и техническое обслуживание насосов;</li>
                <li>Контроль и проверка работы теплорегуляторов;</li>
                <li>Техническое обслуживание санитарно-технологических устройств туалетов, устранение засоров;</li>
                <li>Устранение течи в запорной арматуре, замена сальниковой набивки;</li>
                <li>Чистка фильтров;</li>
                <li>Ежегодная предсезонная опрессовка всех трубопроводов;</li>
                <li>Замена деталей, узлов и механизмов по мере необходимости (без стоимости материалов) и по согласованию с поставщиком оборудования;</li>
                <li>Регламентные работы в соответствии с инструкциями по эксплуатации оборудования (без стоимости материалов);</li>
                <li>Проверка состояния теплоизоляции трубопроводов и ее восстановление по мере необходимости (без стоимости материалов).</li>
            </ul>
            <h3 class="g_mb_20 js-anim-block hide">Диспетчеризация инженерных систем</h3>
            <ul class="js-anim-block hide">
                <li>Управление и контроль за системами жизнеобеспечения здания;</li>
                <li>Учет сбоев и неисправностей;</li>
                <li>Сбор информации для проведения анализа состояния систем жизнеобеспечения; Обращение в случае необходимости к смежным и городским службам;</li>
                <li>Ведение дежурных журналов;</li>
                <li>Хранение и выдача ключей подотчетных помещений;</li>
                <li>Принятие текущих заявок.</li>
            </ul>
        </div>
    </div>
</section>
