<section class="about_slider section js-anim-block hide">
    <div class="container this--slider">
        <div class="about_slider__content">
            <h2 class="about_slider__title this--wave">О нас</h2>
            <div class="about_slider__row">
                <div class="about_slider__text">
                    <p>Компания ДОМСЕРВИС была создана в 2016 году. Основным направлением деятельности компании является управление многоквартирными домами. Компания выполняет большую часть работ силами собственных структурных подразделений. Компания ДОМСЕРВИС была создана в 2016 году. Основным направлением деятельности компании является управление многоквартирными домами. Компания выполняет большую часть работ силами собственных структурных подразделений.<br>
                   <br>Компания ДОМСЕРВИС была создана в 2016 году. Основным направлением деятельности компании является управление многоквартирными домами. Компания выполняет большую часть работ силами собственных структурных подразделений.</p>
                </div>
                <div class="about_slider__slider default_page__slider swiper-container">
                    <div class="default_page__slider_btn_prev"></div>
                    <div class="default_page__slider_btn_next"></div>
                    <div class="default_page__slider_pagination default_slider__pagination"></div>
                    <div class="default_page__slider_wrapper swiper-wrapper">
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                        <div class="default_page__slider_slide default_page__slide swiper-slide">
                            <div class="default_page__slide_img">
                                <img src="./img/default_page/slider_img.jpg" alt="">
                            </div>
                            <div class="default_page__label">Подпись к изображению</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>