.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background: #ffffff;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.this--hidden {
    opacity: 0;
    visibility: hidden;
  }
  picture {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
