.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background: url('../img/preloader/preloader.jpg') center/cover no-repeat;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  @media ($tablet) {
    background: url('../img/preloader/preloader1024.jpg') center/cover no-repeat;
  }

  &.this--hidden {
    opacity: 0;
    visibility: hidden;
  }
}
