<section class="about_management section js-anim-block hide">
    <div class="container">
        <div class="about_management__content">
            <h2 class="about_management__title this--wave">Руководство</h2>
            <div class="about_management__items">
                <div class="about_management__item this--woman">
                    <span>Генеральный директор</span>
                    <span>Малинова Татьяна Ильинична</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--woman">
                    <span>Генеральный директор</span>
                    <span>Малинова Татьяна Ильинична</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--woman">
                    <span>Генеральный директор</span>
                    <span>Малинова Татьяна Ильинична</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--woman">
                    <span>Генеральный директор</span>
                    <span>Малинова Татьяна Ильинична</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
                <div class="about_management__item this--man">
                    <span>Главный инженер</span>
                    <span>Галенко Игорь Васильевич</span>
                </div>
            </div>
        </div>
    </div>
</section>