<header class="header">
    <div class="header__content">
        <a href="/" class="header__logo">
            <div class="header__logo_img">
                <img src="./img/header/logo.png" alt="">
            </div>
            <div class="header__logo_text">
                Группа<br> управляющих<br> компаний
            </div>
        </a>
        <div class="header__burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__row">
            <span class="header__cross"></span>
            <ul class="header__nav">
                <li><a href="#" class="header__nav_link">О компании</a></li>
                <li><a href="#" class="header__nav_link">Услуги</a></li>
                <li><a href="#" class="header__nav_link">Объекты</a></li>
                <li><a href="#" class="header__nav_link">Новости</a></li>
                <li><a href="#" class="header__nav_link">Контакты</a></li>
            </ul>
            <div class="header__group">
                <div class="header__contacts">
                    <a href="tel:+78126023190" class="header__tel">+7 (812) 602-31-90</a>
                    <a href="mailto:office@uods.ru" class="header__mail">office@uods.ru</a>
                </div>
                <div class="header__links">
                    <a href="#" class="header__link this--icon">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.66675 15.5C7.33341 4.16666 24.3334 4.16667 30.0001 15.5C24.3334 26.8333 7.33341 26.8333 1.66675 15.5Z" stroke="#383838" stroke-width="2"/>
                            <circle cx="15.8335" cy="15.4999" r="4.66666" stroke="#383838" stroke-width="2"/>
                        </svg>
                    </a>
                    <a href="#" class="header__link this--icon this--blue">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 8H1C1.5 21 14 25.8333 16.5 25C18 24.5 15.5 20.5 18 20C20 19.6 23.1667 23.1667 24.5 25H30C30.5 23.5 25 18.5 24 17C26.5 14 29 9.5 29.5 8H24.5C22.6667 10.5 18.7 15.5 17.5 15.5C16.3 15.5 16.6667 10.5 17 8H10.5C13 11 12.5 17.5 11 17C9.8 16.6 6.83333 10.8333 5.5 8Z" stroke="#327C8C" stroke-width="2" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#" class="header__link this--btn btn this--dark this--lk">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</header>