<section class="main_chess section this--top this--dots js-anim-block hide">
    <div class="dots"></div>
    <div class="main_chess__content">
        <div class="main_chess__chess">
            <div class="main_chess__chess_left">
                <div class="main_chess__chess_counts this--100">
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="171979">0</div>
                        <div class="main_chess__chess_count_text">м2<br>обслуживаемой площади</div>
                    </div>
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="14074">0</div>
                        <div class="main_chess__chess_count_text">квартиры</div>
                    </div>
                </div>
            </div>
            <div class="main_chess__chess_right">
                <div class="main_chess__chess_img">
                    <img src="./img/main/main_chess/1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="main_chess__chess this--reverse">
            <div class="main_chess__chess_left">
                <div class="main_chess__chess_counts this--50">
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="37">0</div>
                        <div class="main_chess__chess_count_text">многоквартирных<br>домов</div>
                    </div>
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="2">0</div>
                        <div class="main_chess__chess_count_text">бизнес<br>центра</div>
                    </div>
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="202">0</div>
                        <div class="main_chess__chess_count_text">коммерческих<br>помещения</div>
                    </div>
                    <div class="main_chess__chess_count">
                        <div class="main_chess__chess_count_value js_anim_number" data-max="16">0</div>
                        <div class="main_chess__chess_count_text">паркингов</div>
                    </div>
                </div>
            </div>
            <div class="main_chess__chess_right">
                <div class="main_chess__chess_img">
                    <img src="./img/main/main_chess/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>