<section class="about_top section this--dots">
    <div class="dots this--wh"></div>
    <div class="container">
        <div class="about_top__content">
            <div class="about_top__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <div class="breadcrumb">О компании</div>
                </div>
            </div>
        </div>
        <h1 class="about_top__title js-anim-block hide this--from_top">О компании</h1>
        <div class="about_top__subtitle js-anim-block hide this--from_top">Компания ДОМСЕРВИС была создана в 2016 году.
            <br>
            <br>
            Основным направлением деятельности компании является управление многоквартирными домами.
            Компания выполняет большую часть работ силами собственных структурных подразделений.
        </div>
    </div>
</section>