<section class="gallery section this--dots">
    <div class="dots"></div>
    <div class="container">
        <div class="gallery__content">
            <div class="gallery__breadcrumbs breadcrumbs">
                <div class="breadcrumbs_wr">
                    <a href="/" class="breadcrumb this--link">Главная</a>
                    <div class="breadcrumb">Галерея</div>
                </div>
            </div>

            <h1 class="gallery__title">Галерея</h1>
            <div class="gallery__items js-anim-block hide">
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item_img">
                        <img src="./img/gallery/1.jpg" alt="">
                    </div>
                    <div class="gallery__date">14.05.2022</div>
                    <h4 class="gallery__title">Работы в Ленобласти</h4>
                </div>
            </div>
            <div class="gallery__pagination pagination js-anim-block hide">
                <div class="pagination__count">Показано <span>10</span> из 54</div>
                <a href="#" class="pagination__btn btn this--transparent this--svg this--arrow">дальше
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 0.306945L15 27.693M15 27.693L29 13.7671M15 27.693L0.999999 13.7671" stroke="#327C8C"/>
                    </svg></a>
                <ul class="pagination__items">
                    <li class="pagination__item">
                        <a href="#" class="pagination__arrow pagination__prev this--disabled">
                            <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.614257 15L28.0003 15M28.0003 15L14.0744 29M28.0003 15L14.0744 0.999999" stroke="#327C8C"/>
                            </svg>
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="pagination__link active">1</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="pagination__link">2</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="pagination__link">3</a>
                    </li>
                    <li class="pagination__item">
                        ...
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="pagination__link">9</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#" class="pagination__arrow pagination__next">
                            <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.614257 15L28.0003 15M28.0003 15L14.0744 29M28.0003 15L14.0744 0.999999" stroke="#327C8C"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>