<footer class="footer">
    <div class="footer__content">
        <ul class="header__nav this--footer">
            <li><a href="#" class="header__nav_link">О компании</a></li>
            <li><a href="#" class="header__nav_link">Услуги</a></li>
            <li><a href="#" class="header__nav_link">Объекты</a></li>
            <li><a href="#" class="header__nav_link">Новости</a></li>
            <li><a href="#" class="header__nav_link">Контакты</a></li>
        </ul>
        <a href="tel:+78126023190" class="footer__tel">+7 (812) 602-31-90</a>
        <div class="footer__address">195197, г. Санкт-Петербург,  пр. Маршала Блюхера, дом 9/3, помещение 12-Н</div>
        <a href="mailto:office@uods.ru" class="footer__mail">office@uods.ru</a>
        <a href="#" class="footer__social_link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 8H1C1.5 21 14 25.8333 16.5 25C18 24.5 15.5 20.5 18 20C20 19.6 23.1667 23.1667 24.5 25H30C30.5 23.5 25 18.5 24 17C26.5 14 29 9.5 29.5 8H24.5C22.6667 10.5 18.7 15.5 17.5 15.5C16.3 15.5 16.6667 10.5 17 8H10.5C13 11 12.5 17.5 11 17C9.8 16.6 6.83333 10.8333 5.5 8Z" stroke="#8FBDC7" stroke-width="2" stroke-linejoin="round"/>
            </svg>
        </a>
        <div class="footer__times">
            <div class="footer__time">
                <div class="footer__time_item">Пн-Ср<span>9:00 - 18:00</span></div>
                <div class="footer__time_item">Обед<span>13:00 - 14:00</span></div>
            </div>
            <div class="footer__time">
                <div class="footer__time_item">Чт<span>9:00 - 19:00</span></div>
                <div class="footer__time_item">Обед<span>13:00 - 14:00</span></div>
            </div>
            <div class="footer__time">
                <div class="footer__time_item">Пт<span>9:00 - 17:00</span></div>
                <div class="footer__time_item">Обед<span>13:00 - 14:00</span></div>
            </div>
        </div>
        <div class="footer__bottom">
            <p>© ООО «Дом Сервис»</p>
            <a href="#" >Карта сайта</a>
        </div>
        <a href="https://profitkit.ru/" class="footer__develope">
            Сайт разработан
            <img src="./img/footer/develope.png" alt="">
        </a>
    </div>
</footer>