<section class="main_top section this--top this--dots">
    <div class="dots"></div>
    <div class="container">
        <div class="breadcrumbs">
            <div class="breadcrumbs_wr">
                <a href="/" class="breadcrumb this--link">Главная</a>
                <a href="#" class="breadcrumb this--link">Новости</a>
                <div class="breadcrumb">Собрание собственников</div>
            </div>
        </div>
        <h1>Собрание собственников</h1>
    </div>
</section>
<section class="news_card default_page section this--bottom this--dots">
    <div class="container">
        <div class="news_card__content">
            <div class="small_container">
                <div class="news_card__date">14.05.2022</div>
                <div class="news_card__img">
                    <img src="./img/news_card/1.jpg" alt="">
                </div>
                <div class="news_card__img_label g_mb_40">Подпись к изображению</div>
                <div class="default_page__text g_mb_40 js-anim-block hide">
                    <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022! Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!</p>
                    <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!</p>
                    <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!</p>
                    <p>Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!Уведомляем вас о проведении общего собрания собственников помещений в ЖК "Город мастеров" (М.Блюхера, 9/3) в виде очно-заочного голосования в период с 18.08.2022 по 30.09.2022.</p>
                    <p>Просим принять участие в проводимом собрании и передать заполненные решения (бюллетени) диспетчеру, управляющему или разместить в ящиках для сдачи показаний ИПУ до 30.09.2022!</p>
                </div>
            </div>
            <div class="default_page__documents documents js-anim-block hide">
                <a href="#" class="documents__document">
                    <div class="documents__document_title">Бюллетень</div>
                    <div class="documents__bottom">
                        <span>PDF</span>
                        <span>12.2 Мб</span>
                    </div>
                </a>
                <a href="#" class="documents__document">
                    <div class="documents__document_title">Материалы к собранию</div>
                    <div class="documents__bottom">
                        <span>PDF</span>
                        <span>12.2 Мб</span>
                    </div>
                </a>
                <a href="#" class="documents__document">
                    <div class="documents__document_title">Протокол ОСС от 10.02.2018 с договором управления</div>
                    <div class="documents__bottom">
                        <span>PDF</span>
                        <span>12.2 Мб</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="news_card_photo section this--bottom js-anim-block hide">
    <div class="container">
        <div class="news_card_photo__content">
            <h2 class="news_card_photo__title">Фотоотчёт</h2>
            <div class="news_card_photo__slider swiper-container js-anim-block hide">
                <div class="news_card_photo__slider_arrows default_slider__arrows">
                    <div class="news_card_photo__slider_arrow_prev default_slider__arrow_prev">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                    <div class="news_card_photo__slider_arrow_next default_slider__arrow_next">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                </div>
                <div class="news_card_photo__slider_pagination default_slider__pagination"></div>
                <div class="news_card_photo__slider_wrapper swiper-wrapper">
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="news_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="news_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="news_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="news_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                    <div class="news_card_photo__slider_slide news_card_photo__slide swiper-slide">
                        <div class="news_card_photo__slide_img">
                            <img src="./img/news_card/slider_img.jpg" alt="">
                        </div>
                        <h4 class="news_card_photo__slide_title">Работы в Ленобласти</h4>
                    </div>
                </div>
            </div>
            <a href="#" class="news_card_photo__btn btn this--transparent this--arrow this--svg this--reverse js-anim-block hide"><svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
            </svg>
                назад к новостям</a>
        </div>
    </div>
</section>