<section class="contacts_info section this--blue js-anim-block hide">
    <div class="container">
        <div class="contacts_info__content">
            <h2 class="contacts_info__title this--wave this--no_mobile">ООО «Дом Сервис»</h2>
            <div class="contacts_info__row">
                <div class="contacts_info__left">
                    <div class="contacts_info__left_item">ЖК «Утренняя звезда»</div>
                    <div class="contacts_info__left_item">ЖК «Дом с курантами»</div>
                    <div class="contacts_info__left_item">ЖК «Город мастеров»</div>
                    <div class="contacts_info__left_item">ЖК «Кремлевские звезды»</div>
                    <div class="contacts_info__left_item">ЖК «Суворов»</div>
                    <div class="contacts_info__left_item">ЖК «NEW TIME»</div>
                    <div class="contacts_info__left_item">ул. Замшина, 37</div>
                </div>
                <div class="contacts_info__right">
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>ИНН</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>ОГРН</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Юр. адрес</span>
                            <span>192012, г. Санкт-Петербург, пр. Обуховской Обороны, д .138 к.2, пом. 53-Н</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>КПП</span>
                            <span>781101001</span>
                        </div>
                    </div>
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>К/С</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>БИК</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Р/С</span>
                            <span>10898471732287173228</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts_info section js-anim-block hide">
    <div class="container">
        <div class="contacts_info__content">
            <h2 class="contacts_info__title this--wave this--no_mobile">ООО «Управляющая компания “Дом Сервис”»</h2>
            <div class="contacts_info__row">
                <div class="contacts_info__left">
                    <div class="contacts_info__left_item">ЖК «Князь Александр Невский»</div>
                    <div class="contacts_info__left_item">ЖК «Петр Великий и Екатерина Великая»</div>
                    <div class="contacts_info__left_item">ЖК «Два ангела»</div>
                    <div class="contacts_info__left_item">ЖК «TERRA»</div>
                    <div class="contacts_info__left_item">ЖК «FAMILIA»</div>
                </div>
                <div class="contacts_info__right">
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>ИНН</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>ОГРН</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Юр. адрес</span>
                            <span>192012, г. Санкт-Петербург, пр. Обуховской Обороны, д .138 к.2, пом. 53-Н</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>КПП</span>
                            <span>781101001</span>
                        </div>
                    </div>
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>К/С</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>БИК</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Р/С</span>
                            <span>10898471732287173228</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts_info section this--blue js-anim-block hide">
    <div class="container">
        <div class="contacts_info__content">
            <h2 class="contacts_info__title this--wave this--no_mobile">ООО «Дом Сервис-С»</h2>
            <div class="contacts_info__row">
                <div class="contacts_info__left">
                    <div class="contacts_info__left_item">ЖК «Золотые купола»</div>
                    <div class="contacts_info__left_item">ЖК «Старая крепость»</div>
                </div>
                <div class="contacts_info__right">
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>ИНН</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>ОГРН</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Юр. адрес</span>
                            <span>192012, г. Санкт-Петербург, пр. Обуховской Обороны, д .138 к.2, пом. 53-Н</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>КПП</span>
                            <span>781101001</span>
                        </div>
                    </div>
                    <div class="contacts_info__right_column">
                        <div class="contacts_info__right_item">
                            <span>К/С</span>
                            <span>7813413110</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>БИК</span>
                            <span>1089847173228</span>
                        </div>
                        <div class="contacts_info__right_item">
                            <span>Р/С</span>
                            <span>10898471732287173228</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>