@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import "../components/preloader/preloader";
html {
	font-size: 10px;
}
body {
	font-size: 1.8rem;
	line-height: 1.67;
	font-family: Commissioner, sans-serif;
	font-weight: 400;
	color: #383838;

	@media ($tablet3) {
		font-size: 1.4rem;
		line-height: 1.43;
	}

	&.scroll-lock {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1360px;
	padding: 0 20px;
	margin: 0 auto;

	&.this--slider {
		@media ($tablet3) {
			overflow: hidden;
		}
	}
}
.section {
	padding: 60px 0;
	&.this--top {
		padding: 60px 0 0 0;
		@media ($tablet) {
			padding: 40px 0 0 0;

			&.this--dots {
				padding: 60px 0 0 0;
			}
		}
	}
	&.this--bottom {
		padding: 0 0 60px 0;
		@media ($tablet) {
			padding: 0 0 20px 0;
			&.this--dots {
				padding: 0 0 60px 0;
			}
		}
	}

	@media ($tablet) {
		padding: 40px 0 20px;
		&.this--dots {
			padding: 60px 0 20px;
		}
	}
}
.main {
	flex: 1 0 auto;
	padding-top: 114px;
	background: #ffffff;

	@media ($tablet) {
		padding-top: 70px;
	}

	&.this--flex {
		display: flex;
		flex-direction: column;
	}
}
.js-anim-block {
	transition: opacity 1s ease 0s, transform 1s ease 0s;
	&.hide {
		opacity: 0;
		visibility: hidden;
		transform: translateY(70px);
	}

	&.this--from_top {
		&.hide {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-70px);
		}
	}
}

.small_container {
	max-width: 900px;
}
.g_mb_40 {
	margin-bottom: 40px;
	@media ($tablet) {
		margin-bottom: 20px;
	}
}
.g_mb_20 {
	margin-bottom: 20px;
	@media ($tablet) {
		margin-bottom: 10px;
	}
}

@import "./blocks/title";
@import "./blocks/btn";
@import "./blocks/dots";
@import "./blocks/object";
@import "./blocks/breadcrumbs";
@import "./blocks/default_slider";
@import "./blocks/tab";
@import "./blocks/documents";
@import "./blocks/pagination";

@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/main/main_top/main_top";
@import "../components/main/main_chess/main_chess";
@import "../components/main/main_links/main_links";
@import "../components/main/main_services/main_services";
@import "../components/main/main_news/main_news";
@import "../components/main/main_objects/main_objects";
@import "../components/main/main_about/main_about";
@import "../components/main/main_contacts/main_contacts";

@import "../components/objects/objects_objects/objects_objects";
@import "../components/objects/objects_map/objects_map";

@import "../components/object_card/object_card_top/object_card_top";
@import "../components/object_card/object_card_contacts/object_card_contacts";
@import "../components/object_card/object_card_gallery/object_card_gallery";
@import "../components/object_card/object_card_info/object_card_info";

@import "../components/services/services";

@import "../components/news/news";

@import "../components/news_card/news_card";

@import "../components/default_page/default_page";

@import "../components/contacts/contacts_top/contacts_top";
@import "../components/contacts/contacts_info/contacts_info";

@import "../components/services_card/services_card_top/services_card_top";
@import "../components/services_card/services_card_photo/services_card_photo";

@import "../components/about/about_top/about_top";
@import "../components/about/about_slider/about_slider";
@import "../components/about/about_management/about_management";
@import "../components/about/about_history/about_history";

@import "../components/page_404/page_404";

@import "../components/gallery/gallery";


