<section class="about_history section">
    <div class="container">
        <div class="about_history__content">
            <h2 class="about_history__title this--wave js-anim-block hide">История</h2>
            <div class="about_history__items js-anim-block hide">
                <div class="about_history__item this--empty this--left">
                </div>
                <div class="about_history__item this--right this--before js-anim-block hide">
                    <span>2009</span>
                    <span>Основание компании</span>
                </div>
                <div class="about_history__item this--left js-anim-block hide">
                    <span>2009</span>
                    <span>Основание компании снование компании снование компании снование компании снование компании снование компании</span>
                </div>
                <div class="about_history__item this--empty this--right">
                </div>
                <div class="about_history__item this--empty this--left">
                </div>
                <div class="about_history__item this--right js-anim-block hide">
                    <span>2009</span>
                    <span>Основание компании</span>
                </div>
                <div class="about_history__item this--left this--before js-anim-block hide">
                    <span>2009</span>
                    <span>Основание компании снование компании снование компании снование компании снование компании снование компании</span>
                </div>
                <div class="about_history__item this--empty this--right">
                </div>
            </div>
        </div>
    </div>
</section>
