<section class="main_objects section this--dots js-anim-block hide">
    <div class="dots"></div>
    <div class="container">
        <div class="main_objects__content">
            <div class="main_objects__top">
                <h2 class="main_objects__title this--wave">Объекты</h2>
                <a href="#" class="main_objects__link btn this--transparent this--svg this--arrow">все объекты
                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg>
                </a>
            </div>
            <form action="#" class="main_objects__form" name="main_objects__form">
                <input type="text" class="main_objects__form_search" placeholder="Введите название ЖК">
                <button class="main_objects__form_submit">
                    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10.5" cy="10.5" r="9.5" stroke="#C2C2C2" stroke-width="2"/>
                        <path d="M18 17L28 27" stroke="#C2C2C2" stroke-width="2"/>
                    </svg>
                </button>
            </form>
            <div class="main_objects__slider swiper-container">
                <div class="main_objects__slider_arrows">
                    <div class="main_objects__slider_arrow_prev">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                    <div class="main_objects__slider_arrow_next">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                </div>
                <div class="main_objects__slider_pagination"></div>
                <div class="main_objects__slider_wrapper swiper-wrapper">
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/1.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/2.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «TERRA»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/3.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «FAMILIA»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/4.jpg" alt="">
                                <span class="object__year">2020</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «Суворов»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/5.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/6.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/7.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/8.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/9.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/10.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/11.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/12.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/13.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                    <div class="main_objects__slide swiper-slide">
                        <a href="#" class="main_objects__object object">
                            <div class="object__body">
                                <img src="./img/main/main_objects/14.jpg" alt="">
                                <span class="object__year">2021</span>
                                <div class="object__info">
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Диспетчерская служба<span>24 часа</span></div>
                                        <div class="object__info_item_value"><span>+7 (812) 493-76-37</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Управляющий<span>по расписанию</span></div>
                                        <div class="object__info_item_value this--black">Мальков Игорь Анатольевич</div>
                                        <div class="object__info_item_value"><span>+7 (931) 273-87-14</span></div>
                                    </div>
                                    <div class="object__info_item">
                                        <div class="object__info_item_title">Приём управляющего</div>
                                        <div class="object__info_item_value">
                                            вт <span>10:00 - 12:00</span>
                                        </div>
                                        <div class="object__info_item_value">
                                            чт <span>15:00 - 19:00</span>
                                        </div>
                                    </div>
                                    <span class="object__info_btn btn this--transparent this--arrow this--svg">Подробнее
                                    <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                    </svg></span>
                                </div>
                            </div>
                            <h4 class="object__title">ЖК «NEW TIME»</h4>
                            <div class="object__address">ул. Планерная</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>