<section class="object_card_gallery section this--dots js-anim-block hide">
    <div class="dots"></div>
    <div class="container">
        <div class="object_card_gallery__content">
            <h2 class="this--wave">Галерея</h2>
            <div class="object_card_gallery__slider swiper-container js-anim-block hide">
                <div class="object_card_gallery__slider_arrows default_slider__arrows">
                    <div class="object_card_gallery__slider_arrow_prev default_slider__arrow_prev">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                    <div class="object_card_gallery__slider_arrow_next default_slider__arrow_next">
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                        </svg>
                    </div>
                </div>
                <div class="object_card_gallery__slider_pagination default_slider__pagination"></div>
                <div class="object_card_gallery__slider_wrapper swiper-wrapper">
                    <div class="object_card_gallery__slider_slide swiper-slide">
                        <a href="#" data-src="./img/main/main_objects/4.jpg" class="object_card_gallery__slide_link" data-fancybox="gallery-1">
                            <div class="object_card_gallery__slide_img">
                                <img src="./img/object_card/1.jpg" alt="">
                            </div>
                            <div class="object_card_gallery__slide_date">13.07.2022</div>
                            <h4 class="object_card_gallery__slide_title">Мероприятие в честь дня детей</h4>
                        </a>
                        <a data-src="./img/main/main_objects/1.jpg" data-fancybox="gallery-1" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/2.jpg" data-fancybox="gallery-1" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/3.jpg" data-fancybox="gallery-1" class="object_card_gallery__slide_hide_img">
                        </a>
                    </div>
                    <div class="object_card_gallery__slider_slide swiper-slide">
                        <a href="#" class="object_card_gallery__slide_link" data-src="./img/main/main_objects/5.jpg" data-fancybox="gallery-2">
                            <div class="object_card_gallery__slide_img">
                                <img src="./img/object_card/2.jpg" alt="">
                            </div>
                            <div class="object_card_gallery__slide_date">13.07.2022</div>
                            <h4 class="object_card_gallery__slide_title">Мероприятие в честь дня детей длинная строка</h4>
                        </a>
                        <a data-src="./img/main/main_objects/6.jpg" data-fancybox="gallery-2" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/7.jpg" data-fancybox="gallery-2" class="object_card_gallery__slide_hide_img">
                        </a>
                    </div>
                    <div class="object_card_gallery__slider_slide swiper-slide">
                        <a href="#" class="object_card_gallery__slide_link" data-src="./img/main/main_objects/8.jpg" data-fancybox="gallery-3">
                            <div class="object_card_gallery__slide_img">
                                <img src="./img/object_card/3.jpg" alt="">
                            </div>
                            <div class="object_card_gallery__slide_date">13.07.2022</div>
                            <h4 class="object_card_gallery__slide_title">Мероприятие в честь дня детей</h4>
                        </a>
                        <a data-src="./img/main/main_objects/9.jpg" data-fancybox="gallery-3" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/10.jpg" data-fancybox="gallery-3" class="object_card_gallery__slide_hide_img">
                        </a>
                    </div>
                    <div class="object_card_gallery__slider_slide swiper-slide">
                        <a href="#" data-src="./img/main/main_objects/4.jpg" class="object_card_gallery__slide_link" data-fancybox="gallery-4">
                            <div class="object_card_gallery__slide_img">
                                <img src="./img/object_card/1.jpg" alt="">
                            </div>
                            <div class="object_card_gallery__slide_date">13.07.2022</div>
                            <h4 class="object_card_gallery__slide_title">Мероприятие в честь дня детей</h4>
                        </a>
                        <a data-src="./img/main/main_objects/1.jpg" data-fancybox="gallery-4" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/2.jpg" data-fancybox="gallery-4" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/3.jpg" data-fancybox="gallery-4" class="object_card_gallery__slide_hide_img">
                        </a>
                    </div>
                    <div class="object_card_gallery__slider_slide swiper-slide">
                        <a href="#" data-src="./img/main/main_objects/4.jpg" class="object_card_gallery__slide_link" data-fancybox="gallery-5">
                            <div class="object_card_gallery__slide_img">
                                <img src="./img/object_card/1.jpg" alt="">
                            </div>
                            <div class="object_card_gallery__slide_date">13.07.2022</div>
                            <h4 class="object_card_gallery__slide_title">Мероприятие в честь дня детей</h4>
                        </a>
                        <a data-src="./img/main/main_objects/1.jpg" data-fancybox="gallery-5" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/2.jpg" data-fancybox="gallery-5" class="object_card_gallery__slide_hide_img">
                        </a>
                        <a data-src="./img/main/main_objects/3.jpg" data-fancybox="gallery-5" class="object_card_gallery__slide_hide_img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>