.page_404 {
  position: relative;
  background: url('../img/page_404/page_404_bg.jpg') center / cover no-repeat;
  flex: 1 0 auto;
  .dots {
    @media ($desktopSuperBigMax) {
      top: 130px;
    }
  }
}
.page_404__content {
  display: flex;
  align-items: center;

  @media (max-width: 1340px) {
    display: block;
  }
  @media ($mobile) {
    padding-bottom: 148px;
  }
}
.page_404__left {
  width: calc(40% - 60px);
  margin-right: 60px;

  @media (max-width: 1340px) {
    width: 500px;
    margin-right: 0;
  }
  @media ($mobile) {
    width: 100%;
  }
}
.page_404__logo {
  position: relative;
  padding-top: 63.7%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.page_404__right {
  width: 60%;
  @media (max-width: 1340px) {
    max-width: 800px;
    width: 100%;
    margin-top: 10px;
  }
}
.page_404__text {
  color: #8D8D8D;
}
.page_404__links {
  display: flex;
  margin-left: -15px;
  margin-top: 30px;

  @media ($tablet) {
    margin-top: 20px;
  }
  @media ($tablet3) {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: -10px;
  }

  a {
    margin-left: 15px;
    @media ($tablet3) {
      margin-left: 0;
      margin-bottom: 10px;
      width: 500px;
    }
    @media ($mobile) {
      width: 100%;
    }
  }
}