<section class="page_404 section this--dots">
    <div class="dots"></div>
    <div class="container">
        <div class="page_404__content">
            <div class="page_404__left">
                <div class="page_404__logo">
                    <img src="./img/page_404/page_404.png" alt="">
                </div>
            </div>
            <div class="page_404__right">
                <div class="page_404__text">К сожалению, страница не найдена.<br>
                    Вы можете перейти на Главную страницу или вернуться на предыдущую</div>
                <div class="page_404__links">
                    <a href="#" class="btn this--transparent this--svg this--arrow this--reverse"><svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M48 15H0.999999M0.999999 15L14.9259 1M0.999999 15L14.9259 29" stroke="#327C8C"/>
                    </svg>вернуться на предыдущую</a>
                    <a href="/" class="btn this--transparent this--svg this--arrow">перейти на главную страницу
                        <svg width="48" height="30" viewBox="0 0 48 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15H47M47 15L33.0741 1M47 15L33.0741 29" stroke="#327C8C"/>
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>